body {
    margin: 0;
    padding: 0;
}

img {
    height: 250px;
    width: 180px;
}

.movies {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    align-items: center;
}

.movies-layout {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

h3 {
    font-family: Arial, sans-serif;
    color: blue;
}

p {
    font-style: italic;
    font-family: Arial, sans-serif;
}

    